<h1>Shop:</h1>

<h2>Waehle ein Produkt und die Anzahl aus:</h2>

<form role="form" name="form">
  <div class="form-group">
    <label for="produkt">Produkt:</label>
    <input required
           cam-variable-name="produkt"
           cam-variable-type="String"
           class="form-control" />
  </div>
  <div class="form-group">
    <label for="anzahl">Anzahl:</label>
    <input cam-variable-name="anzahl"
           cam-variable-type="Long"
           class="form-control" />
  </div>
  <div>
  </div>
</form>