<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core">

<f:view>
  <h:head>
    <title>Shop</title>
    <f:metadata>
    	<f:event type="preRenderView" listener="#{camundaTaskForm.startTaskForm()}" />
  </f:metadata>
  </h:head>
  <h:body>
    <h1>Shop</h1>
    <h2>Waehle ein Produkt und die Anzahl aus:</h2>
    <h:form id="submitForm">
    <h:panelGrid columns="2">
      	<p>
    	    <label for="produkt">Produkt:</label>
          <h:inputText id="produkt" value="#{processVariables['produkt']}" required="true"/>
      	</p>
        <p>
          <label for="anzahl">Anzahl:</label>
          <h:inputText id="matrikelnummer" value="#{processVariables['anzahl']}" required="true"/>
        </p>
        </h:panelGrid>
      <h:commandButton id="submit_button" value="Feedback abschicken!" action="#{camundaTaskForm.completeTask()}" />
      <h:messages style="color:red;margin:8px;" />
    </h:form>
  </h:body>
</f:view>
</html>